<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-orange.min.css">
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/myStyle.css">

        <meta name="viewport" content="width=device-width, initial-scale=1" />

    </head>
    <body class="background">
        <div class="titleFont">
            -_-
        </div>
        <div class="titleHeading">
            <strong>Help me choose!</strong>
        </div>
        <div>
            <section ng-view>
            </section>
        </div>

        <!-- ANGULAR SETUP -->
        <script type="text/javascript" src="/libs/angular/angular.js"></script>
        <script type="text/javascript" src="/libs/angular-route/angular-route.js"></script>

        <!-- ANGULAR FILES -->
        <script type="text/javascript" src="/choose/choose.client.module.js"></script>
        <script type="text/javascript" src="choose/choose.client.routes.js"></script>
        <script type="text/javascript" src="choose/choose.client.controller.js"></script>

        <script type="text/javascript" src="/application.js"></script>
    </body>
</html>